.CodeMirror {
    font-size: 16px;
    line-height: 1.4;
    /* padding-top: 20px; */
    height: calc(100vh - 50px - 60px);
}
/* .react-codemirror2 {
  height: 100vh;
} */
.CodeMirror:first-child {
    display: none;
}
